6. Print the below words in each line using a single print function
   Python
   is 
   Fun
7. Create variables of the following types and print them with their types:
Integer, Float, String, Boolean, Complex number.
8. Write a program that checks the type of: x = True, y = None
9. Predict the output:  print(type(type(5)))
10. Store your roll number and percentage, then print them in one line.

In [1]:
'''Print the below words in each line using a single print function
   Python
   is 
   Fun'''
print("Python\nIs\nFun")

Python
Is
Fun

In [10]:
#Create variables of the following types and print them with their types:Integer, Float, String, Boolean, Complex number.
i=22
f=45.78
s="Hello123"
b=True
c=4+17j
print(i,type(i))
print(f,type(f))
print(s,type(s))
print(b,type(b))
print(c,type(c))

22 <class 'int'>
45.78 <class 'float'>
Hello123 <class 'str'>
True <class 'bool'>
(4+17j) <class 'complex'>

In [11]:
 #Write a program that checks the type of: x = True, y = None
x=True
y=None
print(x,type(x),y,type(y))

True <class 'bool'> None <class 'NoneType'>

In [12]:
#Predict the output:  print(type(type(5)))
print(type(type(5))) #-> 5=int, type(5)=int, type(type())=type

<class 'type'>

In [16]:
#Store your roll number and percentage, then print them in one line.
r=22
p="98%"
print("roll no.: ",r,"percentage: ",p)

roll no.:  22 percentage:  98%

In [2]:
#Take 5 items, total the amount and add 5% gst 'billing system'
n1=str(input("enter item1 name: "))
i1=float(input("enter item1 price: "))
n2=str(input("enter item2 name: "))
i2=float(input("enter item2 price: "))
n3=str(input("enter item3 name: "))
i3=float(input("enter item3 price: "))
n4=str(input("enter item4 name: "))
i4=float(input("enter item4 price: "))
n5=str(input("enter item5 name: "))
i5=float(input("enter item5 price: "))
t=i1+i2+i3+i4+i5
gst=t*(5/100)
print("*****************S_MART*****************")
print(n1,"price.......",i1)
print(n2,"price.......",i2)
print(n3,"price.......",i3)
print(n4,"price.......",i4)
print(n5,"price.......",i5)
print("___________________________")
print("|Amount            ",t,"|")
print("|gst(5%)           ",gst)
print("                   ----------")
print("|Your Total amt....",t+gst,"|")
print("                   ----------")
print("***********Thankyou visit again***********")

enter item1 name:  rice
enter item1 price:  130
enter item2 name:  oil
enter item2 price:  250
enter item3 name:  ghee
enter item3 price:  520.56
enter item4 name:  carrot
enter item4 price:  55.98
enter item5 name:  cashew
enter item5 price:  220.32

*****************S_MART*****************
rice price....... 130.0
oil price....... 250.0
ghee price....... 520.56
carrot price....... 55.98
cashew price....... 220.32
___________________________
|Amount             1176.86 |
|gst(5%)            58.842999999999996
                   ----------
|Your Total amt.... 1235.703 |
                   ----------
***********Thankyou visit again***********

#Difference between is and ==
"is" used only to compare between two variables
"==" used to compare between variables and any data types

In [35]:
4 is 6

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\shrey\AppData\Local\Temp\ipykernel_3900\3499459125.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  4 is 6

False

In [36]:
"a" is "b"

<>:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
C:\Users\shrey\AppData\Local\Temp\ipykernel_3900\2297060732.py:1: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  "a" is "b"

False

In [38]:
a=4
b=5
a is b

False

In [37]:
4==7

False

In [39]:
a==b

False

In [40]:
"a"=="A"

False

In [49]:
#explore is, and, or, not, in, +=,-=
print(12 is 12) #--- True
print(4>3 and 4>5) #---False
print(4>3 or 4>5) #---True
a="hello"
b="helloworld"
print(a in b) #---True
x=8
x+=4 # x=x+4 === x=8+4 == 12
print(x)
y=2 
y-=6 #y=y-6 === y=2-6 == -4
print(y)

True
False
True
True
12
-4